@keyframes blur-moving {
  0% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  40% {
    top: 20px;
    left: 0px;
  }
  80% {
    top: -5px;
    left: -5px;
  }
  100% {
    top: -20px;
    left: 3px;
    opacity: 0.3;
  }
}

.intro {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.infos__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title-blur {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  z-index: 3;
  top: 40px;
  color: $primary-white;
  filter: blur(40px);
  transition: opacity 2s;
  opacity: 0.8;

  em {
    position: relative;
    margin: 0;
    padding: 0;
    @for $i from 1 through 40 {
      &:nth-child(#{$i}) {
        animation: blur-moving
          #{($i * 0.5) +
          2.5}s
          ease
          infinite
          alternate-reverse;
      }
    }
  }
}

.title-welcome {
  margin-bottom: 30px;
  z-index: 3;

  &.scrolled {
    animation: title-closing 0.3s 2s ease-out forwards;
  }
  /* identical to box height */

  background: -webkit-linear-gradient(
    180deg,
    rgba(139, 89, 89, 0.3) 0%,
    rgba(248, 248, 248, 1) 50%,
    rgba(248, 248, 248, 0.3) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.earth-bg-container {
  position: absolute;
  right: 50%;
  width: 1000px;
  transition: top 1s ease;
  top: 70vh;
  &:hover {
    .earth-bg {
      opacity: 0;
    }
    .song-bg {
      opacity: 1;
    }
  }
  .earth-bg {
    z-index: 2;
    width: 1000px;
    height: auto;
    position: absolute;
    animation: earth-rotation 140s infinite forwards;
    opacity: 1;
    transition: opacity 1s ease-in;
  }
  .song-bg {
    z-index: 1;
    width: 1000px;
    height: auto;
    position: absolute;
    animation: earth-rotation 140s infinite forwards;
    opacity: 0;
    transition: opacity 1s ease-in;
  }
}

@media screen and (max-width: 300px) {
  .earth-bg {
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .title-welcome {
    font-size: 30px;
  }
}
@media (min-width: 401px) and (max-width: 500px) {
  .title-welcome {
    font-size: 40px;
  }
}
@media (min-width: 501px) and (max-width: 600px) {
  .title-welcome {
    font-size: 50px;
  }
}

.icone-scroll__desktop {
  z-index: 10;
  width: 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  /*filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 1));*/
}
.icone-scroll__mobile {
  z-index: 10;
  bottom: 40px;
  right: 50%;
  height: 20px;
  display: flex;
  justify-content: center;
  display: none;
  p {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #f8f8f8;
    opacity: 0.8;
  }
  svg {
    animation: scroll-mouse 2s infinite;
  }
}
@media screen and (max-width: 768px) {
  .icone-scroll__desktop {
    display: none;
  }
  .icone-scroll__mobile {
    display: block;
  }
}

.scroll-arrow {
  animation: scroll-mouse 2s infinite;
  width: 1px;
}

@keyframes scroll-mouse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes earth-rotation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: 0;
}

.twinkling {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
    top center;
  z-index: 0;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}
