@font-face {
  font-family: "Product Sans Medium";
  src: url("/src/assets/fonts/ProductSans-Medium.woff") format ("woff");
}

@font-face {
  font-family: "Product Sans Regular";
  src: url("/src/assets/fonts/ProductSans-Regular.woff") format ("woff");
}

@font-face {
  font-family: "Product Sans Thin";
  src: url("/src/assets/fonts/ProductSans-Thin.woff") format ("woff");
}

@font-face {
  font-family: "Product Sans Light";
  src: url("/src/assets/fonts/ProductSans-Light.woff") format ("woff");
}

@font-face {
  font-family: "Product Sans Bold";
  src: url("/src/assets/fonts/ProductSans-Bold.woff") format ("woff");
}

@font-face {
  font-family: "Product Sans Black";
  src: url("/src/assets/fonts/ProductSans-Black.woff") format ("woff");
}
