
/* @font-face {
  font-family: "Product Sans Medium";
  src: url("../assets/fonts/ProductSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Product Sans Regular";
  src: url("../assets/fonts/ProductSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Product Sans Thin";
  src: url("../assets/fonts/ProductSans-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Product Sans Light";
  src: url("../assets/fonts/ProductSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Product Sans Bold";
  src: url("../assets/fonts/ProductSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Product Sans Black";
  src: url("../assets/fonts/ProductSans-Black.ttf") format("truetype");
}
 */
