html,
body,
#app {
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  background-color: #efeeed;
  display: flex;
  flex-direction: column;
}

img {
  vertical-align: top;
}

* {
  box-sizing: border-box;
}

//.page {
//  height: 100%;
//  width: 100%;
//  background-color: green;
//}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.wrapper {
  width: 100%;
  min-width: 300px; // and paddind + 10 + 10

  margin: 0 auto;
  padding: 0 10px;

  box-sizing: border-box;

  @include media_desktop {
    max-width: 1200px;
    // background: red;
  }

  @include media_tablet {
    // background: yellow;
    max-width: 1024px;
  }

  @include media_mobile {
    // background: green;
  }
}

// routes transition animation
.fade-enter-active {
  transition: opacity 0.8s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

//GLOBAL STYLE HTML ELEMENTS
h1 {
  font-family: Product Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  color: $primary-white;
}

h2 {
  font-family: Product Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  color: $primary-white;
}

h3 {
  font-family: Product Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: $primary-white;
}

h4 {
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: $primary-white;
}

p {
  font-family: Product Sans;
  font-weight: 200;
  font-size: 18px;
  line-height: 150%;
  color: $primary-white;
}
