// GLOBAL COLORS
$color-white: #fff;
$color-body: #1e2221;
$color-error: red;
$color-primary: #738fb5;

$color-line: #eceae8;
$color-black-transparent: rgba(27, 31, 35, 0.15);

// fonts color
$color-font-main: #5a5a5a;
$color-font-dim: #ccc;
$color-font-placeholder: #e5e5e5;

$color-line: #e5e5e5;

$color-gray-50: #d1d1d1;
$color-gray-100: #cccccc;
$color-gray-200: #bfbfbf;
$color-gray-300: #adadad;
$color-gray-400: #989898;
$color-gray-450: #808080;
$color-gray-500: #7a7a7a;
