// GLOBAL COLORS

//Primary Desktop
$primary-darkblue: #14131c;
$primary-white: #f8f8f8;

//Secondary Desktop
$secondary-light-blue: #cdd0da;
$secondary-blue: #738fb5;
$secondary-dark-blue: #2a354b;
$secondary-grey-blue: #7f8695;
$secondary-light-grey-blue: #9aaac3;

//Mobile
$mobile-background: #100f15;

//Dasktopnav-bar width
$nav-width: 60px;
