.intro {
  overflow: hidden;
  width: 100vw;
  height: 1000vh;
  position: relative;
  display: flex;
  background-color: black;
}

@keyframes earth-leaving {
  from {
    top: 0px;
  }

  to {
    top: -8000px;
  }
}

@keyframes title-closing {
  from {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  to {
    opacity: 0;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
}

@keyframes blur-moving {
  0% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  40% {
    top: 20px;
    left: 0px;
  }
  80% {
    top: -5px;
    left: -5px;
  }
  100% {
    top: -20px;
    left: 3px;
    opacity: 0.3;
  }
}

.title-blur {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 3;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  top: 200px;
  color: $primary-white;
  filter: blur(40px);
  transition: opacity 2s 1s;

  &.scrolled {
    opacity: 0;
    em {
      animation: none;
    }
  }

  em {
    position: relative;
    margin: 0;
    padding: 0;
    @for $i from 1 through 40 {
      &:nth-child(#{$i}) {
        animation: blur-moving #{($i * 0.2) + 2}s ease infinite;
      }
    }
  }
}

.title-welcome {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 3;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  top: 200px;

  &.scrolled {
    animation: title-closing 0.3s 2s ease-out forwards;
  }
  /* identical to box height */

  background: -webkit-linear-gradient(
    180deg,
    rgba(139, 89, 89, 0.3) 0%,
    rgba(248, 248, 248, 1) 50%,
    rgba(248, 248, 248, 0.3) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.earth-bg-container {
  position: absolute;
  right: 50%;
  width: 775px;
  transition: top 1s ease;

  &.scrolled {
    animation: earth-leaving 3s ease-in forwards;
  }
}

.earth-bg {
  z-index: 2;
  width: 775px;
  height: auto;
  position: absolute;
  animation: earth-rotation 140s infinite forwards;
  opacity: 1;
}
@media screen and (max-width: 300px) {
  .earth-bg {
    width: 400px;
  }
}

.icone-scroll__desktop {
  position: absolute;
  z-index: 10;
  right: 50%;
  top: 90vh;
  width: 20px;
  height: 60px;
  display: flex;
  justify-content: center;
}
.icone-scroll__mobile {
  position: absolute;
  z-index: 10;
  bottom: 40px;
  right: 50%;
  height: 20px;
  display: flex;
  justify-content: center;
  display: none;
  p {
    margin-bottom: 10px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #f8f8f8;
  }
  svg {
    animation: scroll-mouse 2s infinite;
  }
}
@media screen and (max-width: 768px) {
  .icone-scroll__desktop {
    display: none;
  }
  .icone-scroll__mobile {
    display: block;
  }
}

.scroll-arrow {
  animation: scroll-mouse 2s infinite;
  width: 1px;
}

@keyframes scroll-mouse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes earth-rotation {
  from {
    transform: translateY(80%) rotate(0deg) scale(1.5);
  }
  to {
    transform: translateY(80%) rotateZ(360deg) scale(1.5);
  }
}
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  transition: opacity 0.3s 2s ease;

  &.scrolled {
    opacity: 0;
  }
}

.stars {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: 0;
}

.twinkling {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
    top center;
  z-index: 1;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}
